<style>
  body {
    color: <%= @color %>;
  }
</style>

<h1>Welcome to my Travel Site</h1>
<p>Stay tuned for cool travel stuff!</p>

<h2>I am from <%= @homestate %></h2>

<h3>I would love to visit:</h3>
	<ul>
		<% @countries.each do |country| %>
			<li><%= country %></li>
	<% end %>
</ul>

<h3>Change the font color:</h3>
<%= link_to "Blue", index_path(color:"blue"), class: "btn btn-primary custom" %>
<%= link_to "Green", index_path(color:"green"), class: "btn btn-success custom" %>
<%= link_to "Orange", index_path(color:"orange"), class: "btn btn-warning custom" %>
<%= link_to "Red", index_path(color:"red"), class: "btn btn-danger custom" %>
	
<table class="table table-hover">
  <tr>
    <% @united_states.each do |key,value| %>
	  <th><%= key.titleize %></th>
    <% end %>
  </tr>
  <tr>
    <% @united_states.each do |key,value| %>      
      <% if value.kind_of?(Array) %>
          <td><%= value.join(", ") %></td>
      <% else %>
         <td><%= value %></td>
      <% end %> 
    <% end %>
  </tr>
</table>
