<ul class="nav nav-pills nav-justified" role="tablist">
  <li><%= link_to "All", destinations_path %></li>
  <% @my_countries.each do |c| %>
    <li><%= link_to c.country, destinations_path(country: c.country) %></li>
  <% end %>
</ul>

<% if notice != nil %>
  <p id="notice" class="alert alert-success alert-dismissable" role="alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </p>
<% end %>
 

<h1>My Destination Wish List</h1>

<div class="row">
<div class="col-md-4 col-md-offset-4 text-center">
<%= link_to 'New Destination', new_destination_path, class: "btn btn-info" %>
</div>
</div> 

<br>



<div class="row">
  <% @destinations.each do |destination| %>
    <div class="col-md-4">
      <div class="well">
        <p><%= "#{destination.city}, #{destination.country}" %></p>
        <p><%= destination.description %></p>
        <p><%= link_to 'Show', destination, class: "btn btn-primary" %>
        <%= link_to 'Edit', edit_destination_path(destination), class: "btn btn-warning" %>
        <%= link_to 'Destroy', destination, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
      </div>
    </div>
  <% end %>
</div>




